.footer__menu {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 18px;
}


@media screen and (max-width: 700px) {
    .footer__menu {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, max-content);
        gap: 32px;
    }
}